.passwordInputContainer label {
  display: block;
  margin-top: 1rem;
}

.passwordChangesContainer {
  display: flex;
  align-items: center;
}

.passwordInput,
.passwordTypeButton {
  border: none;
  padding: 1px;
  padding: 1rem;
}

.passwordInput {
  flex: 1;
  border-radius: 12px 0 0 12px;
  background-color: var(--background-input);
}

.passwordTypeButton {
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.passwordTypeButton:hover {
  background-color: #e0e0e0;
}