.btnForm{
    background-color: var(--color-yellow);
    padding: .3rem 2rem;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border: 3px solid var(--color-yellow);
    transition: border 0.1s, box-shadow 0.1s;
    font-weight: 600;
    color: var(--color-petroleo);
    margin: 1rem 0;
    display: block;
}

.btnForm:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 3px solid #FAE4DE;
}

/* COMPUTADOR */
@media screen and (min-width: 800px) {

    .registerContainer form {
        margin: 6em;
        width: 80%;
        padding: 2rem 3rem;
    }

    .registerContainer .btnForm {
        font-size: 1.5em;
    }
}